@use '../../../styles/mixins' as mixins;

.badge {
  @include mixins.flex-row(var(--space-2xs), center, flex-start);
  padding-block: 0.1875rem;
  padding-inline: var(--space-sm);
  border-radius: 9999px;
  border: 0;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
}

.default {
  background-color: var(--accent);
  color: var(--accent-foreground);
}

.subtle {
  background-color: transparent;
  color: var(--muted-foreground);
}
