@use './reset';
@use './theme';
@use './variables';
@use './mixins';

html,
body {
  height: 100%;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding-inline: var(--space-lg);
}

@media (min-width: 48rem) {
  .container {
    padding-inline: var(--space-xl);
  }
}

@media (min-width: 64rem) {
  .container {
    padding-inline: var(--space-3xl);
  }
}
